.card-imagenes {
    background-color: rgb(19, 19, 19);
    width: 350px;
    height: 380px;
    border-radius: 10px;
    margin: 0px 20px 20px 20px;
}

.img-padding {
    padding: 0px 30px 0px 30px;
}

.title-img {
    font-family: 'Mukta';
    color: rgb(207, 207, 207);
    font-size: 25px;
    padding: 10px 0px 10px 0px;
}

.img-description {
    font-family: 'Mukta';
    color: rgb(89, 89, 89);
    font-size: 15px;
    padding: 5px 20px 5px 20px;
}

.img-description-2 {
    font-family: 'Mukta';
    color: rgb(89, 89, 89);
    font-size: 15px;
    padding: 0px 20px 0px 20px;
}

.img-hecha-con {
    color: #fff;
    font-size: 15px;
    padding: 5px 20px 5px 20px;
}

.img-icons-lore {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.figma-10-p {
    font-family: 24px;
}

.img-link {
    text-decoration: none;
    color: rgb(137, 137, 137);
}
.img-link:hover {
    color: rgb(157, 157, 157);
}

.modal-footer {
    background-color: rgb(19, 19, 19);
}

.modal-body {
    background-color: rgb(40, 40, 40);
}

.modal-header {
    background-color: rgb(19, 19, 19);
}

.modal-content {
    border-radius: 20px;
    
}

.modal {
    background-color: rgba(0, 0, 0, 0.567);
}

.modal-title {
    font-family: 'Mukta';
    
}

.btn-close-modal {
    font-size: 25px;
    color: #fff;
    background-color: transparent;
    border: none;
}

.icons-lore-modal {
    display: flex;
    justify-content: center;
    text-align: center;
}


//RESPONSIVE

@media (max-width: 450px) {
    .img-padding {
        padding: 0px 25px 0px 25px;
    }

    .card-imagenes {
        width: 330px;
        height: 380px;
        margin: 0px 10px 15px 10px;
    }
}