.contenedor-card-boton-3 {
    display:inline-flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}


.Background-Card-Poryects-3 {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(22, 22, 22);
    border-radius: 10px;
    box-shadow: 0px 5px 0px 0px #fff;
    font-family: 'Mukta';
    margin-left: 14px;
    margin-right: 14px;
}



.card-rgb-1 {
    width: 190px;
    height: 254px;
    --border-radius: 15px;
    --border-width: 4px;
    appearance: none;
    position: relative;
    padding: 1em 2em;
    border: 0;
    background: rgb(5, 5, 22);
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    z-index: 2;
    border-radius: 15px;
   }
   
   .card-rgb-1::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--border-width);
    border-radius: var(--border-radius);
    background-image: conic-gradient(
           #488cfb,
           #29dbbc,
           #ddf505,
           #ff9f0e,
           #e440bb,
           #655adc,
           #488cfb
       );
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    -webkit-mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue linear 500ms infinite;
    animation-play-state: paused;
   }
   
   .card-rgb-1:hover::after {
    animation-play-state: running;
   }
   
   @keyframes rotate-hue {
    to {
     filter: hue-rotate(1turn);
    }
   }
   
   .card-rgb-1,
   .card-rgb-1::after {
    box-sizing: border-box;
   }
   
   .card-rgb-1:active {
    --border-width: 5px;
   }



//CONTENDIO DE TEXTO DEL CARD
.text-boton-get-started-3 {
    color: #fff;
    font-size: 20px;
    padding-top: 15px;
}
.btn-ver-codigo-3 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 7px;
    border-radius: 10px;
    border: none;
    font-family: 'Mukta';
    cursor: pointer;
    color: rgb(204, 204, 204);
    background-color: rgb(44, 44, 44);
    
}
.btn-ver-codigo-3:hover {
    background-color: rgb(204, 204, 204);
    color: rgb(44, 44, 44);
    transition: 0.6s;
}
.contenedor-proyecto-3 {
    display: flex;
    justify-content: center;
}

.contenedor-lenguajes-3 {
    display: flex;
    justify-content: center;
    color: rgb(90, 90, 90);
    font-size: 20px;
    font-family: 'Mukta';
    margin-bottom: 10px;

}

.icon-lenguajes-3 {
    padding-left: 5px;
    padding-right: 5px;
}


//RESPONSIV
@media (max-width: 952px){
    .contenedor-card-boton-3 {
        display:flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;   
    }
    
  }
  @media (max-width: 858px){
    .contenedor-card-boton-3 {
        display:flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }    
}



